@model Practico.MvcMobile.Models.Question

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Question";
}

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Question</legend>
    
            @Html.HiddenFor(model => model.ID)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.question)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.question)
                @Html.ValidationMessageFor(model => model.question)
            </div>

        </fieldset> 
        <p>
            <input type="submit" value="Save" />
        </p>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
