<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/IndexStyle.css", "~/Content/IndexStyle.css")
    @System.Web.Optimization.Styles.Render("~/Content/jquery-ui-1.10.4.custom.css", "~/Content/jquery-ui-1.10.4.custom.css")
    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery-1.9.1.min.js", "~/Scripts/jquery-1.9.1.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery-ui-1.10.4.js", "~/Scripts/jquery-ui-1.10.4.js")
    @RenderSection("css",false)
</head>
<body>
    <header class="jumbotron color">
        <div class="container">
            <h1>I.E.S.</h1>
            <p>Informatorio Evaluation System - @DateTime.Now.Year</p>
        </div>
    </header>
        @RenderBody()
    <footer id="footer" class="color">
        <p>© @DateTime.Now.Year - Versión: @ViewContext.Controller.GetType().Assembly.GetName().Version - Made By Fernando Luján - lujanfernandogabriel@gmail.com</p>
    </footer>
</body>
</html>
